<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="d:\logs\CTSConnector" />
      <datePattern value="_yyyyMMdd'.log'" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="10" />

      <layout type="log4net.Layout.PatternLayout">
        <!--conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" /-->
        <conversionPattern value="%date [%thread] %-5level %ndc - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

  <appSettings>
    <add key="hostNames" value="bhux05d04z06,bhux07d04z06" />
    <add key="ports" value="1926" />
    <add key="channelName" value="CLIENTES_MF" />
    <add key="queueManagerName" value="QM.COBISTS_PRUEBAS" />
    <add key="inSessionQueueName" value="SESSION_REQ_MF" />
    <add key="outSessionQueueName" value="SESSION_RESP_MF" />
    <add key="inServiceQueueName" value="WRH_REQ_MF" />
    <add key="outServiceQueueName" value="WRH_RESP_MF" />
    <!-- milliseconds -->
    <add key="waitInterval" value="60000" />
    <!-- tenths of a second -->
    <add key="outMessageExpiry" value="600" />
    <add key="pooled" value="1" />
    <add key="maxPoolSize" value="512" />
    <add key="poolTimeoutInMin" value="10" />
    <add key="applicationId" value="46372" />
    <add key="userId" value="airraid" />
    <add key="password" value="" />
    <!-- hours -->
    <add key="sessionTimeout" value="12" />
    <add key="connectionString" value="Provider=ASEOLEDB.1;Password=*Paspa2;Persist Security Info=True;User ID=DTSDESA;Data Source=bhhdasbue006:5100;Initial Catalog=cobis;Language=us_english" />
  </appSettings>
</configuration>
